table, td, th { 
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

li.menu {
    float: left;
    background-color: #FF7B00;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

a.menu {
    display: block;
    background-color: #007BFF;
}