<table border="1">
  <tr>
    <th align="center">pid</th>
    <th align="center">name</th>
    <th align="center">customer</th>
    <th align="center">type</th>
    <th align="center">location</th>
    <th align="center">remote</th>
    <th align="center">sow_signed</th>
    <th align="center">sales</th>
    <th align="center">pri</th>
    <th align="center">sec</th>
    <th align="center">projected_start</th>
    <th align="center">projected_end</th>
    <th align="center">invoiced</th>
  </tr>
  <tr valign="top">
    <td align="right">5</td>
    <td align="left">Fidelis greenplum</td>
    <td align="left">Fidelis</td>
    <td align="left">DBA</td>
    <td align="left">Buffalo, NY</td>
    <td align="left">t</td>
    <td align="left">2016-01-11</td>
    <td align="left">Candy</td>
    <td align="left">unasigned</td>
    <td align="left">unasigned</td>
    <td align="left">2016-01-25</td>
    <td align="left">2016-04-25</td>
    <td align="left">f</td>
  </tr>
  <tr valign="top">
    <td align="right">3</td>
    <td align="left">GE Big Fun Migration</td>
    <td align="left">GE</td>
    <td align="left">Migration</td>
    <td align="left">Bangalore, India</td>
    <td align="left">t</td>
    <td align="left">2016-02-01</td>
    <td align="left">unasigned</td>
    <td align="left">unasigned</td>
    <td align="left">unasigned</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
    <td align="left">f</td>
  </tr>
  <tr valign="top">
    <td align="right">1</td>
    <td align="left">Toast Migration</td>
    <td align="left">Toast</td>
    <td align="left">Migration</td>
    <td align="left">&nbsp; </td>
    <td align="left">t</td>
    <td align="left">2016-02-01</td>
    <td align="left">unasigned</td>
    <td align="left">Baji</td>
    <td align="left">Swanand</td>
    <td align="left">2016-02-11</td>
    <td align="left">2016-03-03</td>
    <td align="left">f</td>
  </tr>
  <tr valign="top">
    <td align="right">2</td>
    <td align="left">PointClick Project #1</td>
    <td align="left">PointClick</td>
    <td align="left">Other</td>
    <td align="left">&nbsp; </td>
    <td align="left">t</td>
    <td align="left">2016-02-01</td>
    <td align="left">unasigned</td>
    <td align="left">Raghav</td>
    <td align="left">unasigned</td>
    <td align="left">&nbsp; </td>
    <td align="left">&nbsp; </td>
    <td align="left">f</td>
  </tr>
</table>
<p>(4 rows)<br />
</p>
